<%= render :partial => 'command_window/new_command' %>

<div id="content" style="background-color:#EEEEEE;height:100px">
    <h2 style="text-align: center;text-decoration-color: #2E2F30"><%= flash[:notice] %></h2>
</div>